certifi
chardet
Click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table-experiments
decorator
Flask
Flask-Compress
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
pandas
plotly
python-dateutil
pytz
requests
retrying
six
traitlets
urllib3
Werkzeug
